/node_modules
/storage/*.key
/storage/framework
/vendor
.env
.env.cypress
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache
*.mp4
auth.json
supervisord.*
cypress/screenshots
cypress/videos
